html {
    font-family: sans-serif;
}
  
/* Your CSS below here */

/* Styling the box */

p {
    width: 200px;
    line-height: 4rem;
    margin: 0 auto;
    text-align: center;
    font-size: 1.125rem;
    background-color: #EEEEEE;
    border-radius: 1rem;
    color: #EEEEEE;
    text-shadow: 2px 2px 1px black;
    border: 1px solid #E0E0E0;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0 ,0));
    box-shadow: 2px 2px 5px black,
                inset 2px 2px 3px rgba(255, 255, 255, 0.6),
                inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}